HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/dados/mnesia/rabbit@089a134cc57a/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/dados/mnesia/rabbit@debb6223db9d/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/dados/.erlang.cookie
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/ELT0LS8V0MAXHRA0VXQ8S2C2L/.queue_name
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/ELT0LS8V0MAXHRA0VXQ8S2C2L/.queue_name
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/dados/mnesia/rabbit@089a134cc57a/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/dados/mnesia/rabbit@debb6223db9d/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/dados/mnesia/rabbit@089a134cc57a/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/dados/mnesia/rabbit@089a134cc57a/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/dados/mnesia/rabbit@debb6223db9d/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/dados/mnesia/rabbit@debb6223db9d/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/dados/mnesia/rabbit@85bbefb840cc/coordination/rabbit@85bbefb840cc/00000001.wal
/dados/mnesia/rabbit@85bbefb840cc/quorum/rabbit@85bbefb840cc/00000001.wal
/dados/mnesia/rabbit@089a134cc57a/coordination/rabbit@089a134cc57a/00000001.wal
/dados/mnesia/rabbit@089a134cc57a/quorum/rabbit@089a134cc57a/00000001.wal
/dados/mnesia/rabbit@debb6223db9d/coordination/rabbit@debb6223db9d/00000001.wal
/dados/mnesia/rabbit@debb6223db9d/quorum/rabbit@debb6223db9d/00000001.wal
/dados/mnesia/rabbit@cf8928c141f2/coordination/rabbit@cf8928c141f2/00000003.wal
/dados/mnesia/rabbit@cf8928c141f2/quorum/rabbit@cf8928c141f2/00000003.wal
/dados/mnesia/rabbit@85bbefb840cc/cluster_nodes.config
/dados/mnesia/rabbit@089a134cc57a/cluster_nodes.config
/dados/mnesia/rabbit@cf8928c141f2/cluster_nodes.config
/dados/mnesia/rabbit@debb6223db9d/cluster_nodes.config
/dados/mnesia/rabbit@85bbefb840cc/DECISION_TAB.LOG
/dados/mnesia/rabbit@089a134cc57a/DECISION_TAB.LOG
/dados/mnesia/rabbit@cf8928c141f2/DECISION_TAB.LOG
/dados/mnesia/rabbit@debb6223db9d/DECISION_TAB.LOG
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/ELT0LS8V0MAXHRA0VXQ8S2C2L/journal.jif
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/ELT0LS8V0MAXHRA0VXQ8S2C2L/journal.jif
/dados/mnesia/rabbit@85bbefb840cc/LATEST.LOG
/dados/mnesia/rabbit@089a134cc57a/LATEST.LOG
/dados/mnesia/rabbit@cf8928c141f2/LATEST.LOG
/dados/mnesia/rabbit@debb6223db9d/LATEST.LOG
/dados/mnesia/rabbit@85bbefb840cc/coordination/rabbit@85bbefb840cc/meta.dets
/dados/mnesia/rabbit@85bbefb840cc/quorum/rabbit@85bbefb840cc/meta.dets
/dados/mnesia/rabbit@089a134cc57a/coordination/rabbit@089a134cc57a/meta.dets
/dados/mnesia/rabbit@089a134cc57a/quorum/rabbit@089a134cc57a/meta.dets
/dados/mnesia/rabbit@cf8928c141f2/coordination/rabbit@cf8928c141f2/meta.dets
/dados/mnesia/rabbit@cf8928c141f2/quorum/rabbit@cf8928c141f2/meta.dets
/dados/mnesia/rabbit@debb6223db9d/coordination/rabbit@debb6223db9d/meta.dets
/dados/mnesia/rabbit@debb6223db9d/quorum/rabbit@debb6223db9d/meta.dets
/dados/mnesia/rabbit@85bbefb840cc/coordination/rabbit@85bbefb840cc/names.dets
/dados/mnesia/rabbit@85bbefb840cc/quorum/rabbit@85bbefb840cc/names.dets
/dados/mnesia/rabbit@089a134cc57a/coordination/rabbit@089a134cc57a/names.dets
/dados/mnesia/rabbit@089a134cc57a/quorum/rabbit@089a134cc57a/names.dets
/dados/mnesia/rabbit@cf8928c141f2/coordination/rabbit@cf8928c141f2/names.dets
/dados/mnesia/rabbit@cf8928c141f2/quorum/rabbit@cf8928c141f2/names.dets
/dados/mnesia/rabbit@debb6223db9d/coordination/rabbit@debb6223db9d/names.dets
/dados/mnesia/rabbit@debb6223db9d/quorum/rabbit@debb6223db9d/names.dets
/dados/mnesia/rabbit@85bbefb840cc/nodes_running_at_shutdown
/dados/mnesia/rabbit@089a134cc57a/nodes_running_at_shutdown
/dados/mnesia/rabbit@cf8928c141f2/nodes_running_at_shutdown
/dados/mnesia/rabbit@debb6223db9d/nodes_running_at_shutdown
/dados/mnesia/rabbit@85bbefb840cc.pid
/dados/mnesia/rabbit@85bbefb840cc-feature_flags
/dados/mnesia/rabbit@089a134cc57a.pid
/dados/mnesia/rabbit@089a134cc57a-feature_flags
/dados/mnesia/rabbit@cf8928c141f2.pid
/dados/mnesia/rabbit@cf8928c141f2-feature_flags
/dados/mnesia/rabbit@debb6223db9d.pid
/dados/mnesia/rabbit@debb6223db9d-feature_flags
/dados/mnesia/rabbit@85bbefb840cc/rabbit_durable_exchange.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_durable_exchange.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_durable_exchange.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_durable_exchange.DCD
/dados/mnesia/rabbit@85bbefb840cc/rabbit_durable_exchange.DCL
/dados/mnesia/rabbit@089a134cc57a/rabbit_durable_exchange.DCL
/dados/mnesia/rabbit@85bbefb840cc/rabbit_durable_queue.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_durable_queue.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_durable_queue.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_durable_queue.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_durable_queue.DCL
/dados/mnesia/rabbit@cf8928c141f2/rabbit_durable_queue.DCL
/dados/mnesia/rabbit@debb6223db9d/rabbit_durable_queue.DCL
/dados/mnesia/rabbit@85bbefb840cc/rabbit_durable_route.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_durable_route.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_durable_route.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_durable_route.DCD
/dados/mnesia/rabbit@85bbefb840cc/rabbit_runtime_parameters.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_runtime_parameters.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_runtime_parameters.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_runtime_parameters.DCD
/dados/mnesia/rabbit@85bbefb840cc/rabbit_runtime_parameters.DCL
/dados/mnesia/rabbit@089a134cc57a/rabbit_runtime_parameters.DCL
/dados/mnesia/rabbit@85bbefb840cc/rabbit_serial
/dados/mnesia/rabbit@089a134cc57a/rabbit_serial
/dados/mnesia/rabbit@cf8928c141f2/rabbit_serial
/dados/mnesia/rabbit@debb6223db9d/rabbit_serial
/dados/mnesia/rabbit@85bbefb840cc/rabbit_topic_permission.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_topic_permission.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_topic_permission.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_topic_permission.DCD
/dados/mnesia/rabbit@85bbefb840cc/rabbit_user.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_user.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_user.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_user.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_user.DCL
/dados/mnesia/rabbit@85bbefb840cc/rabbit_user_permission.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_user_permission.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_user_permission.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_user_permission.DCD
/dados/mnesia/rabbit@85bbefb840cc/rabbit_user_permission.DCL
/dados/mnesia/rabbit@089a134cc57a/rabbit_user_permission.DCL
/dados/mnesia/rabbit@85bbefb840cc/rabbit_vhost.DCD
/dados/mnesia/rabbit@089a134cc57a/rabbit_vhost.DCD
/dados/mnesia/rabbit@cf8928c141f2/rabbit_vhost.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_vhost.DCD
/dados/mnesia/rabbit@debb6223db9d/rabbit_vhost.DCL
/dados/mnesia/rabbit@85bbefb840cc/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/dados/mnesia/rabbit@089a134cc57a/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/dados/mnesia/rabbit@cf8928c141f2/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/dados/mnesia/rabbit@debb6223db9d/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/dados/mnesia/rabbit@85bbefb840cc/schema.DAT
/dados/mnesia/rabbit@089a134cc57a/schema.DAT
/dados/mnesia/rabbit@cf8928c141f2/schema.DAT
/dados/mnesia/rabbit@debb6223db9d/schema.DAT
/dados/mnesia/rabbit@85bbefb840cc/schema_version
/dados/mnesia/rabbit@089a134cc57a/schema_version
/dados/mnesia/rabbit@cf8928c141f2/schema_version
/dados/mnesia/rabbit@debb6223db9d/schema_version
